body {
    color: rgb(255, 255, 255, 1);
}

    #portfolio-title {
        margin-top: 5%;
        text-align: center;
        font-size: 20pt;
    }

    #github-link {
        text-align: center;
        font-size: 15pt;
    }

        #github-link a:link {
            color: rgb(255, 255, 255, 0.5);
        }

    #portfolio-list {
        position: relative;
        display: flex;
        justify-content: flex-start;
        flex-direction: column;
        height: 100%;

        padding-top: 5%;
    }

        .portfolio-object {
            position: relative;

            width: 100%;
            margin-bottom: 2%;

            background-color: rgb(4, 14, 31);
        }

            .project-desc-wrapper {
                position: relative;
                display: flex;
                flex-direction: column;
                justify-content: space-around;

                margin: 2% 3%;
            }
                .project-title-tech-wrapper {
                    display: flex;
                    flex-direction: column;
                    justify-content: space-around;
                    height: 80%;
                }

                    .project-title {
                        font-size: 30px;
                        color: rgb(255, 255, 255);
                        margin-bottom: -0.5%;
                    }

                    .project-tech {
                        color: rgb(255, 255, 255, 0.5);
                        margin-bottom: 0.5%;
                    }

                .project-desc {

                }

            /* Unused */
            #flokk-logo {
                position: relative;
                width: 100px;
                height: 100px;
            }